.pagination {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.pagination li {
    padding: 6px;
    margin: 0 8px;
    width: 2em;
    text-align: center;
    border-radius: 4px;
    font-size: var(--fs-28);
    background-color: var(--bg-dark);
    box-shadow: 0.3px 0.3px 4px var(--shadows);
    color: var(--white);
    cursor: pointer;
}

.pagination li.active {
    background-color: var(--active);
}
